.wrapper{
    width: 500px;
    height: 700px;
    border: 1px solid black;
    padding: 5px;
}

.card{
    display: flex;
    background-color: #ccc;
    padding: 5px;
    border-radius: 50px;
}

.card_number{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}